[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
marshmallow = "*"
flask-mail = "*"
flask-script = "*"
flask-user = "*"

[dev-packages]

[requires]
python_version = "3.6"
