[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
marshmallow = "*"
flask-mail = "*"
flask-script = "*"
flask-user = "*"
requests = "*"
"bs4" = "*"
flask-login = "*"
flask-cors = "*"
apscheduler = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
