[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask = "*"
marshmallow = "==3.6.1"
flask-mail = "*"
flask-script = "*"
flask-user = "*"
requests = "*"
bs4 = "*"
flask-login = "*"
flask-cors = "*"
apscheduler = "*"
lxml = "4.6.5"
html2text = "*"
python-magic = "*"
ipaddress = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
